.loader {
    border: 0.25em solid #ffffff93;
    /* Light grey */
    border-top: 0.25em solid #3498db;
    border-right: 0.25em solid #3498db;
    border-bottom: 0.25em solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 0.7em;
    height: 0.7em;
    animation: spin 0.8s linear infinite;
    margin: 0 10px 0 0;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}