html {
  background-color: #282c34;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Home {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.Home h2 {
  margin-top: 200px;
}

.NewProduct,
.EditProduct {
  color: white;
  margin: 100px auto auto;
}

table {
  margin: 200px 0 50px;
  border-radius: 25px;
  background-color: rgb(15, 15, 60);
}

th {
  padding: 10px 1.5em;
  color: white;
}

tbody {
  background-color: #ededed;
}

td {
  padding: 0 1.5em;
  color: #282c34;
  font-weight: 500;
  border-bottom: 2px solid #282c34;
}

tr td:nth-child(3) {
  text-align: right;
}

tfoot {
  height: 30px;
}

.button {
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  color: #ededed;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button:hover {
  transform: translateY(-1px);
}

.add {
  background-color: #0e6d2e;
  padding: 15px 25px;
  border-radius: 5px;
}

.add:hover {
  background-color: #0e943b;
}

button:disabled {
  opacity: 0.6;
}

.delete {
  background-color: #a31212;
}

.delete:hover {
  background-color: #d11010;
}

.edit {
  background-color: #1c8dac;
}

.edit:hover {
  background-color: #1ca0c5;
}

.back {
  background-color: #4323b6;
}

.back:hover {
  background-color: #502bd6;
}

form button {
  padding: 15px !important;
  margin-top: 20px !important;
}

.underline {
  text-decoration: underline #4323b6;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 50px;
}

.input-container {
  position: relative;
  height: 50px;
  margin: 10px auto;
}

form input {
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  background: #f5f5f5;
  caret-color: #4323b6;
  border: 3px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.42);
  transition: border 500ms;
  color: rgba(0, 0, 0, 0.87);
  padding: 20px 15px 6px;
  font-size: 1.2rem;
}

form input:hover {
  background-color: #ececec;
}

form input:focus {
  outline: 0;
  border-bottom: 3px solid #4323b6;
  background-color: #dcdcdc;
}

label {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  text-align: left;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

form input:focus+label {
  color: #4323b6 !important;
}

.placeholder {
  display: block;
  position: absolute;
  top: 25px;
  transform: translateY(-40%) scale(1);
  left: 15px;
  transform-origin: left top;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  cursor: text;
}

.label-focus {
  display: block;
  position: absolute;
  top: 25px;
  transform: translateY(-100%) scale(0.9);
  left: 15px;
  transform-origin: left top;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  cursor: text;
}

/*
label {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  top: 45%;
  transform: translateY(-100%) scale(0.9);
  left: 15px;
  transform-origin: left top;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  cursor: text;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}